name: CI/CD Pipeline

on:
  push:
    branches:
      - "*"
  pull_request:
    branches:
      - main
      
jobs:
  lint:
    name: Lint
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Set up Python
        uses: actions/setup-python@v6
        with:
          python-version: "3.10"

      - name: Install and configure poetry
        env:
          POETRY_INSTALLER_UPGRADE: "false"
        run: |
          python -m pip install "pip<26"
          pip install poetry
          poetry install

      - name: Install dependencies
        run: |
          pip install tox

      - name: Linting
        run: tox -e bandit,black,flake8

  test:
    name: Test
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Set up Python
        uses: actions/setup-python@v6
        with:
          python-version: "3.9"

      - name: Install and configure poetry
        env:
          POETRY_INSTALLER_UPGRADE: "false"
        run: |
          python -m pip install "pip<26"
          pip install poetry
          poetry install

      - name: Install dependencies
        run: |
          pip install tox

      - name: Testing
        run: tox -e py39,py310,py311,py312

  build:
    name: Build
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Set up Python
        uses: actions/setup-python@v6
        with:
          python-version: "3.10"

      - name: Install and configure poetry
        env:
          POETRY_INSTALLER_UPGRADE: "false"
        run: |
          python -m pip install "pip<26"
          pip install poetry
          poetry install

      - name: Build package
        run: |
          poetry build
          pip install dist/*.whl
